/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Lato;
  background: #f6f6f6 !important;
}

img {
  border-radius: 50%;
}
a{
  color: #000;
}
a:hover, a:focus,a:active{
  outline: none;
  color: #147abc;
  text-decoration: none;
}